In [2]:
import pandas as pd

# Create  multiindex dataframe

In [3]:
# index from tuples
index = [('Data Science', 2019), ('Data Science', 2020),
         ('Full Stack', 2019), ('Full Stack', 2020),
         ('FS DS Programme', 2019), ('FS DS Programme', 2020)]

# Dictionary to create the data   
d = {
    'students': [100, 200, 120, 180, 100, 500],
    'coffee(kg)' : [1400, 2500, 1260, 1890, 108, 5040]
    }

# Propulsion Academy dataframe showing the number of students (fictional) 
# and coffee consuming in kg per person (also fictional)
propulsion_df = pd.DataFrame(d, index=index)
propulsion_df

                         students  coffee(kg)
(Data Science, 2019)          100        1400
(Data Science, 2020)          200        2500
(Full Stack, 2019)            120        1260
(Full Stack, 2020)            180        1890
(FS DS Programme, 2019)       100         108
(FS DS Programme, 2020)       500        5040

# Create multiIndex from tuples

In [4]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([(   'Data Science', 2019),
            (   'Data Science', 2020),
            (     'Full Stack', 2019),
            (     'Full Stack', 2020),
            ('FS DS Programme', 2019),
            ('FS DS Programme', 2020)],
           )

In [5]:
propulsion_df = propulsion_df.reindex(index)
propulsion_df

                      students  coffee(kg)
Data Science    2019       100        1400
                2020       200        2500
Full Stack      2019       120        1260
                2020       180        1890
FS DS Programme 2019       100         108
                2020       500        5040

# Create names for rows and columns 
we will use it to demonstrate the effect of `stack` and `unstack`

In [6]:
propulsion_df.columns.name = 'features'
propulsion_df

features              students  coffee(kg)
Data Science    2019       100        1400
                2020       200        2500
Full Stack      2019       120        1260
                2020       180        1890
FS DS Programme 2019       100         108
                2020       500        5040

In [7]:
propulsion_df.index.names = ['Programm','Year']
propulsion_df

features              students  coffee(kg)
Programm        Year
Data Science    2019       100        1400
                2020       200        2500
Full Stack      2019       120        1260
                2020       180        1890
FS DS Programme 2019       100         108
                2020       500        5040

# Stack/Unstack


**Stack** the prescribed level(s) from columns to index.

Return a reshaped DataFrame or Series having a multi-level
index with one or more new inner-most levels compared to the current
DataFrame. The new inner-most levels are created by pivoting the
columns of the current dataframe:

  - if the columns have a single level, the output is a Series;
  - if the columns have multiple levels, the new index
    level(s) is (are) taken from the prescribed level(s) and
    the output is a DataFrame.

The new index levels are sorted.

In [8]:
propulsion_df.stack() # series

Programm         Year  features
Data Science     2019  students       100
                       coffee(kg)    1400
                 2020  students       200
                       coffee(kg)    2500
Full Stack       2019  students       120
                       coffee(kg)    1260
                 2020  students       180
                       coffee(kg)    1890
FS DS Programme  2019  students       100
                       coffee(kg)     108
                 2020  students       500
                       coffee(kg)    5040
dtype: int64

**Unstack**  
Pivot a level of the (necessarily hierarchical) index labels, returning
a DataFrame having a new level of column labels whose inner-most level
consists of the pivoted index labels.

If the index is not a MultiIndex, the output will be a Series
(the analogue of stack when the columns are not a MultiIndex).

The level involved will automatically get sorted.

In [9]:
propulsion_df.unstack()

features        students      coffee(kg)
Year                2019 2020       2019  2020
Programm
Data Science         100  200       1400  2500
FS DS Programme      100  500        108  5040
Full Stack           120  180       1260  1890

# Resetting index

let's continue with the column 'students'

In [10]:
propulsion_df.unstack()['students']

Year             2019  2020
Programm
Data Science      100   200
FS DS Programme   100   500
Full Stack        120   180

We are annoyed by this multi-level hierarchy of column names and we might try to reset the index.   
The result is not what we wanted and 'Year' now is something else.

In [11]:
propulsion_df.unstack()['students'].reset_index() # wrong

Year         Programm  2019  2020
0        Data Science   100   200
1     FS DS Programme   100   500
2          Full Stack   120   180

That's how to get rid of the name 'Year' properly. First, we remove it from the column names and then `reset_index()`

In [12]:
propulsion_df.unstack()['students'].rename_axis(None, axis = 1).reset_index()

          Programm  2019  2020
0     Data Science   100   200
1  FS DS Programme   100   500
2       Full Stack   120   180

# Delete axes names

There is an option to leave 'Programm' as index (no `reset_index()`) and flatten the column and row names

In [13]:
propulsion_df_clean = propulsion_df.unstack()['students']
propulsion_df_clean

Year             2019  2020
Programm
Data Science      100   200
FS DS Programme   100   500
Full Stack        120   180

If we check column and index names, we can see that it is not empty.   
Sure, we se it ourselves, he-he

In [14]:
propulsion_df_clean.columns.names

FrozenList(['Year'])

In [15]:
propulsion_df_clean.index.names

FrozenList(['Programm'])

All we need to do is set it to `None`

In [16]:
propulsion_df_clean.columns.name = None
propulsion_df_clean.index.name = None
propulsion_df_clean

                 2019  2020
Data Science      100   200
FS DS Programme   100   500
Full Stack        120   180